# https://hub.docker.com/r/jrcs/letsencrypt-nginx-proxy-companion/

[Unit]
Description=Letsencrypt nginx proxy companion
After=docker.service
Wants=szeremi-nginx.service
Requires=docker.service

[Service]
EnvironmentFile=/etc/environment
Environment=CONTAINER_NAME=nginxproxy/acme-companion
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm %p
ExecStartPre=/usr/bin/docker create --name %p \
    -v /certs:/etc/nginx/certs:rw \
    -v /var/run/docker.sock:/var/run/docker.sock:ro \
    --volumes-from szeremi-nginx \
    --volume acme:/etc/acme.sh \
    --env-file=${SZEREMI_NGINX_PATH}/projects/%p/.env \
    ${CONTAINER_NAME}
ExecStartPre=/usr/bin/docker network connect szeremi %p
ExecStart=/usr/bin/docker start --attach %p
Restart=always
ExecStop=/usr/bin/docker stop %p

[Install]
WantedBy=multi-user.target

