# Tool to drastically simplify Let's Encrypt certificate handling
# when using the nginx-proxy image.
# https://github.com/JrCs/docker-letsencrypt-nginx-proxy-companion

[Unit]
Description=letsencrypt-nginx-proxy-companion
After=docker.service
Requires=docker.service

[Service]
Environment=CONTAINER_NAME=jrcs/letsencrypt-nginx-proxy-companion
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm %p
ExecStart=/usr/bin/docker run --rm  --name %p \
    -v /certs:/etc/nginx/certs:rw \
    --volumes-from szeremi-nginx \
    -v /var/run/docker.sock:/var/run/docker.sock:ro \
    ${CONTAINER_NAME}
Restart=always

[Install]
WantedBy=multi-user.target
