[Unit]
Description=Run %p
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
ExecStart=/var/szeremi-nginx/bin/lycee-overture.sh \
  -e APP_LOCAL_URL=/var/www/public \
  amcsi/lycee-overture \
  php artisan schedule:run

[Install]
WantedBy=multi-user.target
