# https://www.freedesktop.org/software/systemd/man/systemd.time.html
[Unit]
Description=Run %p every minute

[Timer]
OnCalendar=hourly

[Install]
WantedBy=multi-user.target

