[Unit]
Description=Run %p
Requires=docker.service
After=docker.service

[Service]
# The mysql password should be found in /etc/environment
EnvironmentFile=/etc/environment
Environment=CONTAINER_NAME=microsoft/mssql-server-linux
Restart=always
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm -f %p

ExecStart=/usr/bin/docker run --name %p \
    -p 127.0.0.1:1433:1433 \
    -v ${MSSQL_DATA_PATH}:/var/opt/mssql \
    -e ACCEPT_EULA=Y \
    -e MSSQL_SA_PASSWORD=${MSSQL_SA_PASSWORD} \
    ${CONTAINER_NAME}:2017-latest
ExecStop=/usr/bin/docker stop %p

[Install]
WantedBy=multi-user.target
