[Unit]
Description=Run %p
Requires=docker.service
Wants=szeremi-nginx.service
After=docker.service

[Service]
EnvironmentFile=/etc/environment
Environment=CONTAINER_NAME=amcsi/mudae-web-ui
Restart=always
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm -f %p
ExecStart=/usr/bin/docker run --name %p \
  -v ${SZEREMI_NGINX_PATH}/projects/%p/storage:/var/www/storage \
  --env-file=${SZEREMI_NGINX_PATH}/projects/%p/.env \
  --network szeremi \
  ${CONTAINER_NAME}
ExecStop=/usr/bin/docker stop %p

[Install]
WantedBy=multi-user.target
