[Unit]
Description=Run %p
Requires=docker.service
Wants=szeremi-nginx.service
After=docker.service

[Service]
# The mysql password should be found in /etc/environment
EnvironmentFile=/etc/environment
Environment=CONTAINER_NAME=mysql
Restart=always
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm -f %p
# The network for being able to see this service.
ExecStartPre=-/usr/bin/docker network create szeremi

ExecStart=/usr/bin/docker run --name %p \
    -v ${MYSQL_DATA_PATH}:/var/lib/mysql \
    -v ${MYSQL_CONFIG_FILE}:/etc/mysql/conf.d/mysql.cnf \
    -e MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD} \
    --network szeremi \
    ${CONTAINER_NAME}:5.7
ExecStop=/usr/bin/docker stop %p

[Install]
WantedBy=multi-user.target
