[Unit]
Description=Run %p
Requires=docker.service
Wants=szeremi-nginx.service
After=docker.service

[Service]
Environment=CONTAINER_NAME=amcsi/skill-builder
Restart=always
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm -f %p
# Provide the virtual host for nginx-proxy
ExecStart=/usr/bin/docker run --name %p \
  -p 10086:8080 \
  -e VIRTUAL_HOST=skillbuilder.szeremi.org \
  ${CONTAINER_NAME}
ExecStop=/usr/bin/docker stop %p

[Install]
WantedBy=multi-user.target
