[Unit]
Description=Turn on swap

[Service]
Type=oneshot
Environment=SWAPFILE=/swapfile-1GB
ExecStartPre=-/usr/bin/dd if=/dev/zero of=${SWAPFILE} bs=1024 count=1048576
ExecStartPre=-/sbin/mkswap ${SWAPFILE}
ExecStart=/sbin/swapon ${SWAPFILE}

[Install]
WantedBy=swap.target
