[Unit]
Description=Run %p
Requires=docker.service
Wants=szeremi-nginx.service
After=docker.service

[Service]
Restart=always
ExecStartPre=-/opt/bin/docker-compose -f /home/core/docker-redmine/docker-compose.yml stop
ExecStartPre=-/opt/bin/docker-compose -f /home/core/docker-redmine/docker-compose.yml rm
ExecStart=/opt/bin/docker-compose \
    -f /home/core/docker-redmine/docker-compose.yml \
    -f /home/core/szeremi-nginx/projects/szeremi-redmine/docker-compose.yml \
    up
ExecStop=/opt/bin/docker-compose -f /home/core/docker-redmine/docker-compose.yml stop

[Install]
WantedBy=multi-user.target
