# Simple nginx-proxy service that requires 0 configuration here.
# Credit goes to someone else for this, but I don't know who.
# https://gist.github.com/frankhildebrandt/ed3be27abf1a44035567

[Unit]
Description=Autoconfigured Nginx-Reverse-Proxy
After=docker.service
Requires=docker.service

[Service]
Environment=CONTAINER_NAME=jwilder/nginx-proxy
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker pull ${CONTAINER_NAME}
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm %p
ExecStart=/usr/bin/docker run --rm  --name %p \
    -p '80:80' -p 443:443 \
    -v /certs:/etc/nginx/certs:ro \
    -v /etc/nginx/vhost.d \
    -v /usr/share/nginx/html \
    -v /var/run/docker.sock:/tmp/docker.sock \
    ${CONTAINER_NAME}
Restart=always

[Install]
WantedBy=multi-user.target
