[Unit]
Description=Run %p. If Drupal is not yet installed, call bin/blog-install.sh, then bin/blog-install-after.sh once the installation is complete.
Requires=docker.service
Wants=szeremi-nginx.service
After=docker.service
ConditionPathExists=/mnt/szeremi-blog/sites

[Service]
Restart=always
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm -f %p
# Provide the virtual host for nginx-proxy
ExecStart=/usr/bin/docker run --rm --name %p \
    -e VIRTUAL_HOST=blog.szeremi.org \
    -v /mnt/szeremi-blog/sites:/var/www/html/sites \
    -v /mnt/szeremi-blog/uploads:/var/www/uploads \
    --link mysql \
    drupal:8.0
ExecStop=/usr/bin/docker stop %p

[Install]
WantedBy=multi-user.target
