[Unit]
Description=Run %p
Requires=docker.service
Wants=szeremi-nginx.service
After=docker.service

[Service]
EnvironmentFile=/etc/environment
Environment=CONTAINER_NAME=amcsi/teamap
Environment=SSL_KEY=/src/certs/ssl.key
Environment=SSL_CERT=/src/certs/ssl.crt
Restart=always
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm -f %p
# Provide the virtual host for nginx-proxy
ExecStart=/usr/bin/docker run --name %p \
  -p 10087:1337 \
  -e VIRTUAL_HOST=teamap.szeremi.org \
  -e LETSENCRYPT_HOST=teamap.szeremi.org \
  -e LETSENCRYPT_EMAIL=attila@szeremi.org \
  -e GOOGLE_MAPS_API_KEY=${TEAMAP_GOOGLE_MAPS_API_KEY} \
  ${CONTAINER_NAME}
ExecStop=/usr/bin/docker stop %p

[Install]
WantedBy=multi-user.target
